<%- include("../includes/header.ejs", {title:"Account - " + result[0].account_name}); %>

<head>
    <title>Applicant - <%= result[0].applicant_id %></title>
</head>
<body>
<h1>Applicant</h1>
<ul>
    <li>Applicant: <%= result[0].applicantName %></li>
    <li>Phone number: <%= result[0].applicantPhonNum %></li>
</ul>
<br/>
<a href="/applicant/all">Back to applicants</a>
</body>

<%- include("../includes/footer.ejs"); %>