<%- include("../includes/header.ejs", {title:"Add New animals"}); %>
<h1>Update <%= animal.typeOfAnimal%></h1>
<form action="/animals/update" method="get">
    <input type="hidden" id="animal_id" name="animal_id" value="<%= animal.animal_id %>">
    Type: <input type="text" id="animalsName" name="animalsName" value="<%= animals.typeOfAnimal%>"/>
    <br/>
    <br/>
    Gender: <input type="text" id="sex" name="sex" value="<%= animal.sex%>"/>
    <br/>
    <br/>
    Gender: <input type="text" id="sex" name="sex" value="<%= animal.sex%>"/>
    <br/>
    <br />
    <input type="submit" />
</form>
    <!-- Initialize the multiselect plugin: -->
    <!--
    <script type="text/javascript">
        $(document).ready(function() {
            $('#user_account_id').multiselect();
            $('#company_id').multiselect();
            $('#school_id').multiselect();
            $('#skill_id').multiselect();
        });
    </script>
    -->
    <br />
    <br />
<%- include("../includes/footer.ejs"); %>